@import url('https://fonts.googleapis.com/css?family=Nunito:300,regular,500,600,700,800,');

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  --background-color: white;
  --text-color: black;
  --elements-color: white;
  margin: 0;
  font-family: Nunito, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --background-color: hsl(207, 26%, 17%); 
  --text-color: white;
  --elements-color: hsl(209, 23%, 22%);
}




main {
  padding: 24px;
}

a {
  text-decoration-line: none;
  color: inherit;
}
















